@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "JetBrains Mono", monospace;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-items: center;

}
